<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Hello React - Sergio</title>
</head>
<body>
  
  <h1>You got mail!</h1>

  <div id="app-root"><%- markup %></div>

  <script id="initial-state" type="application/json"><%- state   %></script>
  <script src="js/bundle.js"></script>

</body>
</html>
